agno
beautifulsoup4
bs4
docstring_parser
exceptiongroup
fastembed
frozenlist
fsspec
gitdb
GitPython
grpcio
grpcio-tools
h11
h
hpack
httpcore
httpx
httpx-sse
huggingface-hub
humanfriendly
hyperframe
idna
jiter
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-qdrant
langchain-text-splitters
langsmith
loguru
markdown-it-py
marshmallow
mdurl
mmh3
mpmath
multidict
mypy-extensions
numpy
ollama
onnxruntime
openai
orjson
packaging
pillow
portalocker
propcache
protobuf
py_rust_stemmers
pydantic
pydantic-settings
pydantic_core
Pygments
python-dotenv
python-multipart
PyYAML
qdrant-client
requests
requests-toolbelt
rich
shellingham
smmap
sniffio
soupsieve
SQLAlchemy
sympy
tenacity
tokenizers
tomli
tqdm
typer
typing-inspect
typing_extensions
urllib3
zstandard